{% set c = THIS.get('model') %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
{% set fieldData = { model: c, settings_module:'Vuleticd_CheckoutLogin' } %}
<h2>{{ "Checkout Login Page"|_}}</h2>
{{ forms.accordion_start({id:'settings-Vuleticd_CheckoutLogin'}) }}
     {{ forms.accordion_panel_start({label:'Settings'|_, id:'settings-Vuleticd_CheckoutLogin-group0', in:1}) }}
        {{ forms.textarea(fieldData, {field:'default_welcome_text', label:'Default Welcome Text'|_ }) }}
        {{ forms.textarea(fieldData, {field:'customer_welcome_text_before', label:'Customer Welcome Text Before'|_ }) }}
        {{ forms.textarea(fieldData, {field:'customer_welcome_text_after', label:'Customer Welcome Text After'|_ }) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}

