<div class="f-site-main" role="main">
  <div class="container">
    <form action="{{ APP.href('checkout/testuser') }}" method="post" id="login-form" role="form">
      <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
      <input type="hidden" name="redirect_to_customer" value="{{ APP.href('login') }}" />
      <input type="hidden" name="redirect_to_guest" value="{{ APP.href('checkout') }}?guest=yes" />
      <fieldset class="f-authentification-form">
        <header class="f-page-header">
          <h1 class="f-page-title">{{ 'Login' |_ }}</h1>
        </header>
        {{ THIS.view('core/messages') | raw }}
        <div>{{ CONFIG.get('modules/Vuleticd_CheckoutLogin/default_welcome_text') }}</div>
        <div class="form-group">
          <label for="#" class="control-label">{{ "Email" |_ }}</label>
          <div class="controls">
            <input id="email" type="email" name="login[email]" class="required form-control"/>
          </div>
        </div>

        <div id="login-password" class="hidden">
          <p>
          {{ CONFIG.get('modules/Vuleticd_CheckoutLogin/customer_welcome_text_before') }} 
          <span id="username"></span>
          {{ CONFIG.get('modules/Vuleticd_CheckoutLogin/customer_welcome_text_after') }}</p>
          <div class="form-group">
            <label for="#" class="control-label">{{ "Password" |_ }}</label>
            <div class="controls">
              <input id="password" type="password" name="login[password]" class="form-control"/>
            </div>
            <a href="{{ APP.href('customer/password/recover') }}" class="btn btn-link">{{ "Forgot your password?" |_ }}</a>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-lg" type="submit">{{ "Continue" |_ }}</button>
        </div>
        
      </fieldset>
    </form>
  </div>
</div>

